* {  /*Universal styles*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    min-width: 1100px;
}

/* Styling for the navigation bar */
nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    min-width: 1100px; /*to prevent wrapping of navigation items to new lines*/
}

nav h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

#navigation-bar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

/*Styling for all links*/
a {  
    color: #ffffff;
    text-decoration: none;
}

/*Styling for all paragraphs*/
p { 
    font-size: 16px;
}

/*Styling for hero section*/
.hero {
    height: 800px;
    width: 100%;
    min-width: 1100px;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* ID to position images to left */
.float-left { 
    float: left;
    margin-right: 25px;
}

/* ID to position images to the right */
.float-right { 
    float: right;
    margin-left: 25px;
}

/*Stylings for content section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    min-width: 700px;
}

.content .card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    min-width: 640px;  
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

 /* Stylings for the benefits section */
.benefits { 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits .card{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Stylings for Footer */
footer {  
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
